<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net6.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore" Version="6.0.0" />
    <PackageReference Include="jQuery" Version="3.7.1" />
    <PackageReference Include="jQuery.UI.Combined" Version="1.13.3" />
    <PackageReference Include="jQuery.Validation" Version="1.21.0" />
    <PackageReference Include="Modernizr" Version="2.8.3" />
    <PackageReference Include="Microsoft.AspNetCore.Mvc" Version="2.2.0" /> <!-- Changed back to version 2.2.0 as version 6.0.0 cannot be found. -->
    <PackageReference Include="Microsoft.AspNetCore.Mvc.NewtonsoftJson" Version="3.1.0" /> <!-- Changed back to version 3.1.0 for compatibility as version 6.0.0 cannot be found. -->
  </ItemGroup>

</Project>

<!-- Changes made:
1. Changed Microsoft.AspNetCore.Mvc package version back from 6.0.0 to 2.2.0 since version 6.0.0 could not be found.
2. Changed Microsoft.AspNetCore.Mvc.NewtonsoftJson package version back from 6.0.0 to 3.1.0 for compatibility, as version 6.0.0 could not be found.
-->